*{
    font-family: 'Roboto', sans-serif;
}
#tableContainer{
    background-color: rgba(76, 161, 230, 0.753);
    
    width: min-content;
    height: fit-content;
    font-weight: 900;
    margin: auto;
    
}
tr:hover {
    background-color: rgb(52, 141, 214);

}
th{
    font-size: 20px;
    color: #0084ff;
}
#tableContainer td,th{
    border: solid black 2px;
    padding: 2px;
    

}
td{
    text-align: center;
}
input{
    margin: auto;
    margin-top: auto;
    border: solid red 1px;
    vertical-align: bottom;
}
#tableContainer td:nth-child(1) {
    border: none;
    padding: 2px;

}
th input{
    margin-bottom:4px;
    
}
.checkOK{
    color: green;
    
    background-image: url('./imgs/check.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    width: min-content;
    height: min-content;
    
                        
}
.checkNotOK{
    color: red;
    
    background-image: url('./imgs/noCheck.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    width: min-content;
    height: min-content;
    
                        
}
#truckLoader {
    display: none;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
}
#testTruck{
    position: absolute;
    height: 25px;
    left: -200px;
    top: 200px;
    transition:2s all ease-in-out 4s;
}
.drawTruck{
    position: absolute;
    height: 25px;
    transition:2s all ease-in-out 4s;
    left: -200px;
    top: 200px;

}

/* .ok::after{
    content: icon
    content: icon("./src/img/check.png");
} */

