* {
  font-family: "Roboto", sans-serif;

  --primColor: rgb(10, 80, 138);
  --secondColor: rgb(67, 152, 221);
  --thirdColor: rgb(121, 179, 226);
}
#tableContainer {
  /* background-color: rgba(76, 161, 230, 0.753); */

  width: fit-content;
  height: fit-content;
  font-weight: 900;
  margin: auto;
}
tr:hover {
  background-color: rgb(52, 141, 214);
}
tr.odd {
  background-color: var(--secondColor);
}
tr.even {
  background-color: var(--thirdColor);
}
th {
  font-size: 20px;
  background-color: var(--primColor);
  color: #ccc;
}
#tableContainer td,
th {
  /* border: solid black 2px; */
  padding: 2px;
}
td {
  text-align: center;
}
input {
  margin: auto;
  margin-top: auto;
  border: solid red 1px;
  vertical-align: bottom;
}
#tableContainer td:nth-child(1) {
  border: none;
  padding: 2px;
}
th input {
  margin-bottom: 4px;
}
.checkOK {
  color: green;

  background-image: url("./imgs/check.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: min-content;
  height: min-content;
}
.checkNotOK {
  color: red;

  background-image: url("./imgs/noCheck.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  width: min-content;
  height: min-content;
}
#truckLoader {
  z-index: 333;
  position: absolute;
  display: none;
  top: 0;
  height: 100%;
  width: 100%;
}
#testTruck {
  position: absolute;
  height: 25px;
  left: -200px;
  top: 200px;
  transition: 0.5s all ease-in-out 4s;
}

.drawTruck {
  /* position: absolute; */
  position: fixed;
  height: 25px;
  transition: 4s all ease-in-out 1s;
  left: -200px;
  top: 200px;
}

#notificationHistory {
  padding-left: 20px;
  margin: auto;
  margin-top: 30px;
  border: solid 3px black;
  width: 80%;
  max-height: 200px;
  background-color: var(--thirdColor);
  overflow: auto;
}
#notificationHistory p {
  font-weight: 600;
}
#modalInfo {
  position: static;
  display: none;
  width: 400px;

  background-color: rgb(226, 168, 43);
  border: solid black 4px;
  position: fixed;

  top: 100px;
  font-size: 24px;
  font-weight: bolder;
  padding: 25px 50px;

  align-self: center;

  position: absolute;
  
  background-color: gray;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}
#closeModal {
  position: absolute;
  right: 5px;
  top: 5px;

  margin: 3px;
}

#map {
  height: 40vw;
  width: 40vw;
  border: solid black 2px;
}

/* .ok::after{
    content: icon
    content: icon("./src/img/check.png");
} */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.tooltip {
  position: fixed;

  width: fit-content;
  height: fit-content;
  padding: 30px;
  background-color: red;
  z-index: 500;
  visibility: visible;
  opacity: 0.5;
  transform: translate(-50%, -100%);
}

 
